:root{
    --color-main:#c1ac99;
}
*{
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Start Nav */
.navbar .container{
    padding-left: 150px;
    padding-right: 50px;
}
.navbar-brand .R-icon{
    padding-right: 2px;
}
.navbar-brand:hover .R-icon {
    color: rgb(0, 0, 0,85%);
}
.navbar-brand::after{
    content: " ";
    position: absolute;
    width: 0;
    height: 2.5px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}
.navbar-brand:hover::after{
    width: 100%;
    background-color: rgb(0, 0, 0,85%);
}
.navbar .navbar-nav .nav-items{
    position: relative;
}
.navbar .navbar-nav .nav-items::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2.5px;
    background-color: #0C2233;
    left:0px; 
    bottom: 0; 
    transform: translateX(-50%);
    transition: .4s;
}
.navbar .navbar-nav .nav-items:hover::after{
    left: 50%;
    width: 80%;
}
.navbar .navbar-nav .nav-items:hover a{
    color: #0C2233;
}
/* End Nav */
/* Start Header */
header, .skills{
    position: relative;
}
header .Me-intro h2{
    font-weight:400;
    font-size: 30px;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;
}
.home-person{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.Center-info{
    position: relative;
    width: 360px;
    height: 450px;
    border: 2px solid var(--color-main);
    border-radius: 6.25rem;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-refai{
    width: 300px;
    height: 390px;
    background-color: var(--color-main);
    border-radius: 5.5rem;
    overflow: hidden;
    text-align: center;
}
.img-refai img{
    width: 220px;
    padding: 10px;
    background-color: transparent;
}
.home-person .icon-social .website{
    color: rgb(200, 200, 200);
}
.home-person .icon-social .website:hover{
    color: black;
}
.scroll-down .arrow{
    position: absolute;
    bottom: 80px;
    right: 50px;
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-main);
    animation: bouncing 2s infinite;
}
/* End Header */
/* Start Title  */
.title{
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: rgb(200, 200, 200);
    left: 50%;
    transform: translateX(-50%);
}
.title::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(200, 200, 200);
    left: 50%;
    bottom: -17px;
    transform: translateX(-50%);
    z-index: 1;
    transition: .3s;

}
.title:hover::before{
    background-color: #5e2b2b;
}
/* End Title  */

/* Start Skills */
.all-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.icon-skills{
        background-color: rgb(234, 234, 234);
        border-radius: 3px;
        transition: .3s;
}
.icon-skills:hover ,.Photoshop:hover {
    transform: translateY(-2px);
}
.only-skill h4, .skill-photo h4{
    font-weight: normal;
}
.only-skill .HTML{
    color: #ff6929;
}
.only-skill .CSS{
    color: #1b6ab0;
}
.only-skill .JS{
    color: #f1d647;
}
.only-skill .GIT{
    color: #cb4c2d;
}
.only-skill .SASS{
    color: #cd6799;
}
.only-skill .FIGMA{
    color: #01b485;
}
.skill-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Photoshop{ 
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    text-align: center;
    transition: .3s;
}
.Photoshop h4{
    font-weight: bold;
    color: #64abea;
    font-weight: 400;
    width: fit-content;
    background-color: #00192e;
    text-align: center;
    border-radius: 5px;

}
/* End Skills */
/* Start Services */
.box{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: fit-content;
}
.Services .box .info-box .infos{
    background-color: rgb(248, 247, 247);
    border-radius: 30px;
    transition: .3s;
}
.Services .box .info-box .infos p{
    width: fit-content;
}
.Services .box .info-box .infos:hover{
    transform: translateY(-10px);
}
/* End Services */
/* Start Projects */
.Card-article{
    position: relative;
    overflow: hidden;
    background-color: white;
}
.Card-article img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.Card-data{
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 1.5rem;
    position: absolute;
    bottom: -9rem;
    left:0;
    right: 0;
    opacity: 0;
    transition: opacity 1s  1s;
    z-index: 4;
}
.Card-article:hover .Card-data{
    opacity: 1;
    transition: opacity .3s;
    animation: show-data 1s forwards;
}
.Card-article:hover{
    animation: delete-overflow 2s forwards;
}
.Card-data a,
.write-me{
    color:rgb(126, 126, 126) ;
    font-weight: 500;
}
.Card-data a:hover,
.write-me:hover{
    color: #0169b4;
    text-decoration: underline;
}
/* END   Projects */
/* Start Contact */
.Contact .container{
    border-bottom: 2px solid black;
}
.contact-box{
    gap: 150px;
}
.write form{
    display: flex;
    flex-direction: column;
} 
.talk h5{
    font-weight: 400;
    color: #4f4f4f;
}
.write form input,
.write form textarea{
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: 2px solid rgb(199, 199, 199);
    background-color: transparent;
} 
.write form input:focus,
.write form textarea:focus{
    outline: none;
    border: 2.5px solid rgb(191, 191, 191);
}
.write form input:focus::placeholder,
.write form textarea:focus::placeholder{
    opacity: 0;
    transition: .3s;
}
.submit{
    width: fit-content;
}
.write-me:hover .arrow-right{
    animation: arrow-right 1.8s infinite;
}
/* End Contact */
/* Start footer */
.links-end a{
    color: rgb(118, 118, 118);
}
.links-end a:hover{
    color: #000000;
    
}
.inc{
    margin-top: 120px;
}
/* End footer */
/* Start Media */
@media (max-width:991px)
{
    .Left-info, .Right-info{
        display: none;
    }
    .navbar .container{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar .container .navbar-brand{
        margin-bottom: 60px;
    }
    .navbar .navbar-nav li a{
        text-align: center;
    }
    .navbar .navbar-nav .nav-items::after{
        left:50%; 
    }
    .navbar .navbar-nav .nav-items:hover::after{
        width: 65px;
        
    }
}
@media (max-width:596px)
{
    .scroll-down .arrow{
        position: absolute;
        right: 25px;
        bottom: 50px;
        border-radius: 50%;
        padding: 5px;
        animation: bouncing 2s infinite;
    }
    .Center-info{
        position: relative;
        width: 300px;
        height: 400px;
        border: 2px solid var(--color-main);
        border-radius: 6.25rem;
        place-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-refai{
        width: 250px;
        height: 340px;
        background-color: var(--color-main);
        border-radius: 5.5rem;
        overflow: hidden;
        text-align: center;
    }
    .img-refai img{
        width: 220px;
        padding: 10px;
        background-color: transparent;
    }
}
/* End Media */
/* Start Animation */
@keyframes bouncing{
    0%, 40%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-10px);
    }
}
@keyframes show-data{
    50%{
        transform: translateY(-10rem);

    }
    100%{
        transform: translateY(-7rem);
    }
}
@keyframes delete-overflow{
    to{
        overflow:initial;
    }
}
@keyframes arrow-right{
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translatex(-5px);
    }

}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
}
/* End Animation */
